In [2]:


2+3

5

In [4]:
x=40

In [5]:
x

40

In [7]:
import numpy
import pandas

In [8]:
import sklearn

In [10]:
import tensorflow

In [1]:
25*4

100

In [2]:
print(5/2)

2.5

In [4]:
(5000*10*4)//100

2000

In [5]:
4**2

16

In [6]:
print(1 + 2 ** 3 // 4 * 5)

11

In [7]:
x

NameError: name 'x' is not defined

In [8]:
my_int=20

In [9]:
my_float=15.85

In [10]:
my_string='Hello World'

In [11]:
my_bool=True

In [17]:
bamk_balance=200

In [18]:
bank_balance=200

In [19]:
print(bank_balance)

200

In [23]:
height=60

In [24]:
width=40

In [25]:
new_area_of_rectangle=height*width

In [26]:
print(new_area_of_rectangle)

2400

In [34]:
height=1.7

In [35]:
weight=72.25

In [37]:
bmi=weight/(height*height)

In [38]:
print(bmi)

25.000000000000004

In [39]:
BMI=weight/(height*height)

In [42]:
bmi=(int(BMI))

In [43]:
print(bmi)

25

In [51]:
gender='male'

In [52]:
is_obese=False

In [58]:
print("game" + 1)

TypeError: must be str, not int

In [59]:
total_interest=9762.69

In [61]:
type(total_interest)

float

In [63]:
print("BMI is " + str(25))

BMI is 25

In [64]:
bmi=25

In [65]:
print("BMI is " + bmi)

TypeError: must be str, not int

In [67]:
bmi_str=str(bmi)

In [81]:
message="BMI is " +bmi_str

print(message)

In [82]:
print(message)

BMI is 25

In [95]:
first='Cloudx'

In [96]:
second='Lab'

In [102]:
final= first+second

In [107]:
animal='cat'

In [108]:
ten_animals= animal*10

In [112]:
print(ten_animals)

catcatcatcatcatcatcatcatcatcat

In [1]:

height=20
width=80

In [2]:
area_of_rectangle= height*width

In [7]:
type(area_of_rectangle)

int

In [8]:
area_of_circle=78.5

In [10]:
area_of_circle=str(area_of_circle)

In [11]:
area_of_circle_msg = "Area of the circle is - " + area_of_circle

In [12]:
print(area_of_circle_msg)

Area of the circle is - 78.5

In [17]:
len("cluodxlab")

9

In [19]:
max("cluodxlab")

'x'

In [20]:
min("cluodxlab")

'a'

In [21]:
square_area=8.9*8.9

In [31]:
square_area_type=type(square_area)
print(square_area_type)

<class 'float'>

In [24]:
square_area_int=int(square_area)

In [25]:
square_area_str=str(square_area_int)

In [37]:
print(math)

NameError: name 'math' is not defined

In [38]:
import math

In [39]:
print(math)

<module 'math' from '/usr/local/anaconda/lib/python3.6/lib-dynload/math.cpython-36m-x86_64-linux-gnu.so'>

In [40]:
math.log10(1000)

3.0

In [41]:
math.cos(0)

1.0

In [42]:
math.pi

3.141592653589793

In [43]:
math.sqrt(4)

2.0

In [45]:
square_root=math.sqrt(56.98)

In [57]:
sine_degree=math.sin(math.radians(26))
print(sine_degree)

0.4383711467890774

In [48]:
log_e=math.log(1000)

In [62]:
import random

In [63]:
for a in range(10):
    number = random.random()
    print(number)

0.2520833111875923
0.7172421926429562
0.897453771454243
0.5668923649891424
0.794325176479714
0.8035610976768189
0.34001325008959693
0.38680161342902875
0.9817942930457754
0.3140444884163719

In [64]:
random_number= random.random()

In [66]:
random_int=int(random_number)

In [71]:
def print_name():
    name = "Cloudxlab"        
    print("My name is", name)

In [76]:
def pay_calculator(hours,rate):
    if hours<=40:
      total_pay = hours*rate
    else:
        overtime = hours - 40
        hours = 40
        total_pay = hours*rate + 1.5 * rate * overtime
    return(total_pay)
hours =float(input("Enter your hours : "))
rate = float(input("Enter your rate : "))
print(pay_calculator(hours,rate))

Enter your hours : 45
Enter your rate : 10
475.0

In [80]:
print(type(print_name))

<class 'function'>

In [81]:
print_name()

My name is Cloudxlab

In [83]:

def get_name():
    print("Cloudxlab")
get_name()

Cloudxlab

In [88]:
def my_function(number):
    xyz=number
    xyz_str=str(xyz)
    xyz_str+='cloudxlab'
    print(xyz_str)

In [89]:
my_function(10)

10cloudxlab

In [94]:
print(type(None))

<class 'NoneType'>

In [98]:
def new_function(num):
    return num*math.pi

In [99]:
def void_function(num1,num2):
    print(new_function(math.pow(num1,num2)))
void_function(4.6,7.3)

216412.35147094267

In [102]:
inp = input()

xanipx

In [103]:
print(inp)

xanipx

In [105]:
def input_name():
    return(input("What am I studying?"))
subject=input_name()
print(subject)

What am I studying?Python
Python

In [112]:
def bool_func(num1, num2, num3, num4):
    exp1=str(num1>num2)
    exp2=str(num1==num3)
    exp3=str(num2<=num3)
    exp4=str(num4!=num1)
    return exp1+exp2+exp3+exp4
bool_func(1,2,3,4)

'FalseFalseTrueTrue'

In [3]:
def conditional_statements(num1, num2, num3, num4):
    if num1<num2 and num1>num3 and num1==num4 :
        if num3 <num2 and num3<num1 and num3<num4:
            if type(num2)==float:
                if type(num1)==int and type(num3)==int and type(num4)==int:
                    return num1+num2+num3+num4
                else:
                    return None
            else:
                return None
        else:
            return None
    else:
        return None

In [9]:
print(conditional_statements(1,2,0,1))

None

In [19]:
def except_func(num):
    try:
        return num * num
    except:
        return "invalid number"

z=except_func(2)
print(z)

4

In [28]:
def print_even(n):
    for i in range(0, n):
        if i % 2 == 0:
            print(i)

In [30]:
print_even(5)

0
2
4

In [37]:
def compound_interest(principle, rate, years):
    p=principle
    for i in range(0, years):
        interest = (p*rate)/100
        p=p+interest
    comp_interest=p-principle    
    return comp_interest

In [38]:
compound_interest(100, 5, 2)

10.25

In [2]:
def sum_func(num):
    if type(num)==int:
        a=1
        z=0
        while a<=num:
            z=z+a
        if z>=0:
            return z
        else:
            return -1
    else:
        return -1

In [ ]:
sum_func(10)

In [1]:
x=2

In [4]:
def str_list_func(s):
    list_str = s.split()
    list_new = []
    for c in list_str:
        if len(c) > 1:
            list_str = list(c)
            temp = list_str[0]
            list_str[0] = list_str[-1]
            list_str[-1] = temp
            d = "".join(list_str)
            list_new.append(d)
        else:
            list_new.append(c)
    str1 = " "    
    return str1.join(list_new)

In [5]:
str_list_func('CloudxLab')

'bloudxLaC'

In [8]:
with open("/cxldata/python_sample_file") as f:
    s = ""
    for line in f:
        print(line)
        s = s + line
    print(s)

This is a sample file for testing

for Python course for

learners in CloudxLab.

This is a sample file for testing
for Python course for
learners in CloudxLab.

In [9]:
content = f.read()

ValueError: I/O operation on closed file.

In [10]:
def file_read_func(path):    
    try:
        with open(path) as f:
            mystr = ' '.join([line.strip() for line in f])
            mystr = mystr.replace(" ","")

            return len(mystr)
    except:
        return -1

file_read_func("/cxldata/python_sample_file")

65

In [14]:
check = 0
with open("/cxldata/python_sample_file") as f:
    for line in f:
        if(line.startswith('w')):
            check = check + 1

In [15]:
print(check)

0

In [17]:
with open("/cxldata/python_sample_file", 'r') as f:
    print(f.read())

This is a sample file for testing
for Python course for
learners in CloudxLab.

In [18]:
with open("cxl.txt", 'w') as f:
    f.write("Python is a scripting language")

In [21]:
with open("cxl.txt", 'a') as f:
    f.write("Python is a scripting language")

In [23]:
with open("cxl.txt", 'r') as f:
    print(f.read())

Python is a scripting languagePython is a scripting languagePython is a scripting languagePython is a scripting language

In [24]:
with open("python_file_writing.txt", 'w') as f:
    f.write("I am learning Python at CloudxLab")

In [25]:
with open("python_file_writing.txt", 'r') as f:
    print(f.read())

I am learning Python at CloudxLab

In [26]:
(0, 1, 2000000) < (0, 3, 4)

True

In [27]:
d = dict()
print(d)

{}

In [28]:
d['1 rupee coins'] = 10
d['2 rupees coins'] = 5
d['5 rupees coins'] = 6
d['10 rupees coins'] = 12

In [29]:
print(d)

{'1 rupee coins': 10, '2 rupees coins': 5, '5 rupees coins': 6, '10 rupees coins': 12}

In [30]:
print(d['5 rupees coins']+d['10 rupees coins'])

18

In [31]:
d = { 'one' : 1 , 'two' : 2, 'three' : 3, 'four': 4 }

In [32]:
print(d)

{'one': 1, 'two': 2, 'three': 3, 'four': 4}

In [34]:
print(len(d))

4

In [35]:
print('three' in d)

True

In [36]:
print(4 in d)

False

In [40]:
d = {"apples" : 2, "bananas" : 3, "carrots" : 12}
print(d.get("oranges",0))

0

In [38]:
print(d)

{'apples': 2, 'bananas': 3, 'carrots': 12}

In [41]:
for fruit in d:
    print(fruit)

apples
bananas
carrots

In [42]:
def dict_func(string):
    l = string.split(" ")
    d = dict()
    for word in l:
        if(d.get(word)):
            d[word] += 1
        else:
            d[word] = 1
    return d
dict_func('the quick brown fox jumps over the lazy dog')

{'the': 2,
 'quick': 1,
 'brown': 1,
 'fox': 1,
 'jumps': 1,
 'over': 1,
 'lazy': 1,
 'dog': 1}

In [46]:
t = (12,323, 'd', [1,23], False)

In [47]:
type(t)

tuple

In [48]:
t = (1)
type(t)

int

In [1]:
t = tuple()
print(t)

()

In [2]:
t1 = tuple("1,2,3,4,5")
t2 = tuple([1,2,3,4,5])
t3 = tuple((1,2,3,4,5))

In [7]:
print(len(t1))

9

In [12]:
t = (1,3,5,2,54,34,2,34,5)
l = len(t)
print(t[l-1])

5

In [10]:
t2 = t[2:5]
print(t2
     )

(5, 2, 54)

In [15]:
t3 = t[1:3] + t2[:]
print(t3)

(3, 5, 5, 2, 54)

In [16]:
l = [(0,23,34), (2,34,23), (1,34,23)]
l.sort()

In [17]:
(0, 1, 2) < (0, 3)

True

In [18]:
l = [1,2,3]    
a, b, c = l

In [19]:
a , b =  b, a

In [20]:
print(a,b,c)

2 1 3

In [21]:
d = { "one" : 1, "two" : 2, "three" : 3}
k = d.items()
print(k)

dict_items([('one', 1), ('two', 2), ('three', 3)])

In [24]:
for key, value in list(k):
    print(value)

1
2
3

In [31]:
def dict_tuple_func(lis):
    d = dict()
    for num in lis: 
        d[num] = d.get(num,0) + 1
        print(d.get(num,0))
    return (d,sum(d.keys()))

In [32]:
dict_tuple_func([1, 2, 3, 1, 2, 3])

1
1
1
2
2
2

({1: 2, 2: 2, 3: 2}, 6)

In [68]:

def number_of_lines():    
        x = open("/cxldata/datasets/project/mbox-short.txt") 
         a = 0
         for l in x:
                    if l == "\n":
                        a+=1
                return a

IndentationError: unexpected indent (<ipython-input-68-334aad98e67a>, line 4)

In [58]:
number_of_lines()

1910

In [16]:
def count_number_of_lines():
    fhand = open('/cxldata/datasets/project/mbox-short.txt')
    count = 0
    for line in fhand:
        line = line.rstrip() # Remove new line characters from right
        if line.startswith('From:'):
            count=count+1
    return count

In [17]:
count_number_of_lines()

27

In [32]:
def average_spam_confidence():
    fhand = open('/cxldata/datasets/project/mbox-short.txt')
    count = 0
    r=[]
    for line in fhand:
        line = line.rstrip() # Remove new line characters from right
        if line.startswith('X-DSPAM-Confidence:'):
            var,num=line.split(': ')
            r.append(float(num))
            count=count+1
    avg=sum(r)/count
    return (avg)

In [33]:
average_spam_confidence()

0.7507185185185187

In [39]:
import numpy as np

In [59]:
h = np.arange(5).reshape(5, 1, 1,1)

In [60]:
print(h)

[[[[0]]]


 [[[1]]]


 [[[2]]]


 [[[3]]]


 [[[4]]]]

In [44]:
print(h+[[[5]]])

[[[5 6 7 8 9]]]

In [14]:
def sum_func(arg):
     if(type(arg) is int and arg >=0):
        sum =0
        while(arg >=0):
            sum = sum+arg
            arg = arg-1
        return sum
     else:
        return -1

In [15]:
sum_func(6.5)

-1

In [16]:
import numpy as np

In [17]:
sample_list = [1,2,3]

In [18]:
list_array = np.array(sample_list)

In [19]:
print(list_array)

[1 2 3]

In [20]:
tup = (1,2,4)

In [21]:
my_tup_array = np.array(tup)

In [22]:
print(my_tup_array)

[1 2 4]

In [30]:
def multiply_loops(A, B):
    c=np.zeros((A.shape[0], B.shape[1]))
    for i in range(A.shape[0]):
        for k in range(B.shape[1]):
            c[i,k] = 0
            for j in range(B.shape[0]):
                n = A[i,j] * B[j,k]
                c[i,k] += n
    return c

In [31]:
def multiply_vector(A, B):
     return A @ B

In [32]:
X = np.random.random((100, 100))
Y = np.random.random((100, 100))

In [33]:
%timeit multiply_loops(X, Y)
%timeit multiply_vector(X, Y)

618 ms ± 9.34 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
26.7 µs ± 2.45 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [34]:
tup_dim = (3, 4)

In [35]:
my_zeros_array = np.zeros(tup_dim, dtype=np.int16)

In [36]:
tup_dim = (3, 4)

In [37]:
my_ones_array = np.ones( tup_dim, dtype=np.int16)

In [38]:
my_seven_array = np.full(tup_dim, 7, dtype=np.int16)

In [41]:
my_identity_array = np.identity(4, dtype=np.float64)

In [42]:
print(my_zeros_array)

[[0 0 0 0]
 [0 0 0 0]
 [0 0 0 0]]

In [43]:
print(my_ones_array)

[[1 1 1 1]
 [1 1 1 1]
 [1 1 1 1]]

In [44]:
print(my_seven_array)

[[7 7 7 7]
 [7 7 7 7]
 [7 7 7 7]]

In [45]:
print(my_identity_array)

[[1. 0. 0. 0.]
 [0. 1. 0. 0.]
 [0. 0. 1. 0.]
 [0. 0. 0. 1.]]

In [70]:
my_rand_array = np.random.rand(3,4)

In [71]:
print(my_rand_array)

[[0.31676986 0.11754644 0.78571455 0.01203265]
 [0.56124092 0.50558305 0.35582765 0.3186614 ]
 [0.43845703 0.38252628 0.62769905 0.29158304]]

In [72]:
my_uninitialized_array = np.empty( tup_dim)

In [73]:
print(my_uninitialized_array)

[[0.31676986 0.11754644 0.78571455 0.01203265]
 [0.56124092 0.50558305 0.35582765 0.3186614 ]
 [0.43845703 0.38252628 0.62769905 0.29158304]]

In [83]:
my_range_array = np.arange(10,30,5)

In [88]:
my_spaced_array = np.linspace(0,5/3,6)

In [89]:
print(my_spaced_array)

[0.         0.33333333 0.66666667 1.         1.33333333 1.66666667]

In [90]:
print(my_range_array)

[10 15 20 25]

In [100]:
my_array=np.array([ [1, 4, 5, 6], [7, 8, 9, 10], [11, 12, 14, 16] ])

In [111]:
ndarray.ndim

AttributeError: 'numpy.ndarray' object has no attribute 'ndarray'

In [5]:
import numpy as np
import os

In [6]:

import pandas as pd
# defining housing.csv file path
HOUSING_PATH = '../ml/machine_learning/datasets/housing/'
# reading the large housing.csv file using pandas
housing_raw = pd.read_csv(os.path.join(HOUSING_PATH, "housing.csv"))
# extracting only a few rows (5 rows) of data from the pandas dataframe 'my_df'
my_df = housing_raw.iloc[ : 5]
# creating a new small csv file - 'housing_short.csv' - containing the above extracted 5 rows of data
my_df.to_csv('housing_short.csv', index=False)

In [7]:
FILE = 'housing_short.csv'
def load_housing_data(file = FILE ):
    return np.loadtxt(file, dtype={'names': ('longitude','latitude','housing_median_age','total_rooms','total_bedrooms','population','households','median_income','median_house_value','ocean_proximity'),'formats': ('f8', 'f8', 'f8', 'f8', 'f8', 'f8', 'f8', 'f8', 'f8', '|S15')}, delimiter=',', skiprows=1, unpack=True)

In [8]:
longitude_arr,latitude_arr,housing_median_age_arr,total_rooms_arr,total_bedrooms_arr,population_arr,households_arr,median_income_arr,median_house_value_arr,ocean_proximity_arr = load_housing_data()

print(median_house_value_arr)

In [9]:
load_housing_data()

[array([-122.23, -122.22, -122.24, -122.25, -122.25]),
 array([37.88, 37.86, 37.85, 37.85, 37.85]),
 array([41., 21., 52., 52., 52.]),
 array([ 880., 7099., 1467., 1274., 1627.]),
 array([ 129., 1106.,  190.,  235.,  280.]),
 array([ 322., 2401.,  496.,  558.,  565.]),
 array([ 126., 1138.,  177.,  219.,  259.]),
 array([8.3252, 8.3014, 7.2574, 5.6431, 3.8462]),
 array([452600., 358500., 352100., 341300., 342200.]),
 array([b'NEAR BAY', b'NEAR BAY', b'NEAR BAY', b'NEAR BAY', b'NEAR BAY'],
       dtype='|S15')]

In [10]:
print(median_house_value_arr)

[452600. 358500. 352100. 341300. 342200.]

In [19]:
HOUSING_PATH='../ml/machine_learning/datasets/housing/'

In [21]:
FILE = os.path.join(HOUSING_PATH,'housing.csv' )

In [22]:
def load_housing_dataset(file =FILE ):
    return np.genfromtxt(file, dtype={'names': ('longitude','latitude','housing_median_age','total_rooms','total_bedrooms','population','households','median_income','median_house_value','ocean_proximity'),'formats': ('f8', 'f8', 'f8', 'f8', 'f8', 'f8', 'f8', 'f8', 'f8', '|S15')}, delimiter=',', skip_header=1, filling_values = 99999999, unpack=False)

In [23]:
result_arr = load_housing_dataset()

In [24]:
print(result_arr)

[(-122.23, 37.88, 41.,  880.,  129.,  322.,  126., 8.3252, 452600., b'NEAR BAY')
 (-122.22, 37.86, 21., 7099., 1106., 2401., 1138., 8.3014, 358500., b'NEAR BAY')
 (-122.24, 37.85, 52., 1467.,  190.,  496.,  177., 7.2574, 352100., b'NEAR BAY')
 ...
 (-121.22, 39.43, 17., 2254.,  485., 1007.,  433., 1.7   ,  92300., b'INLAND')
 (-121.32, 39.43, 18., 1860.,  409.,  741.,  349., 1.8672,  84700., b'INLAND')
 (-121.24, 39.37, 16., 2785.,  616., 1387.,  530., 2.3886,  89400., b'INLAND')]

In [26]:
print(len(result_arr))

20640

In [14]:
import numpy as np

In [34]:
my_arr=np.array([[1,2,3,4,5,6,7,8]])

In [35]:
my_arr.resize(3,4)

In [36]:
print(my_arr)

[[1 2 3 4]
 [5 6 7 8]
 [0 0 0 0]]

In [40]:
import numpy as np

In [42]:
my_first_arr=np.array( [1,2,3,4,5,6,7,8])

In [44]:
my_new_arr=my_first_arr.reshape(2,4)

In [45]:
print(my_first_arr)

[1 2 3 4 5 6 7 8]

In [46]:
print(my_new_arr)

[[1 2 3 4]
 [5 6 7 8]]

In [51]:
my_second_arr=np.array( [0,1,2,3,4,5,6,7,8])

In [52]:
my_updated_arr = my_second_arr.reshape(-1,3)

In [55]:
print(my_second_arr)

[0 1 2 3 4 5 6 7 8]

In [54]:
print(my_updated_arr)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

In [2]:

import numpy as np

In [4]:
my_orig_arr = np.array([1, 15, 3, 9, 26, 7, 89, 12])

In [5]:
my_rev_arr=my_orig_arr[ : : -1]

In [6]:
print(my_rev_arr
     )

[12 89  7 26  9  3 15  1]

In [7]:
my_orig_arr2 = np.array([2, 9, 17, 13, 1, 4, 20, 57])

In [8]:
my_orig_arr2[2 : 5] = -6

In [9]:
print(my_orig_arr2)

[ 2  9 -6 -6 -6  4 20 57]

In [10]:
arr = [1, 3, 5, 10, 4, 15]

In [11]:
arr[1 : 4]  = -3

TypeError: can only assign an iterable

In [12]:
apple = np.array([1, 8, 23, 3, 18, 91, 7, 15])

In [13]:
apple_slice= apple[1 : 4]

In [14]:
print(apple_slice)

[ 8 23  3]

In [15]:
print(apple)

[ 1  8 23  3 18 91  7 15]

In [16]:
apple_slice[1] = 99999

In [17]:
print(apple_slice)

[    8 99999     3]

In [18]:
print(apple)

[    1     8 99999     3    18    91     7    15]

In [19]:
apple_slice_new = apple[2 : 5].copy()

In [20]:
apple_slice_new[1] = 222222

In [21]:
print(apple_slice_new)

[ 99999 222222     18]

In [22]:
print(apple)

[    1     8 99999     3    18    91     7    15]

In [3]:
from sklearn.datasets import load_sample_image

In [4]:
china = load_sample_image('china.jpg')

In [7]:
portion = china[120:250,110:230]

In [6]:
print(portion)

[[[ 62  61  56]
  [ 25  22  15]
  [ 28  29  21]
  ...
  [ 21  27  23]
  [ 25  25  23]
  [ 18  13  10]]

 [[ 33  34  29]
  [ 24  24  16]
  [ 38  39  33]
  ...
  [ 21  25  24]
  [ 26  24  25]
  [ 29  23  25]]

 [[  3   3   1]
  [ 15  14  10]
  [ 29  30  25]
  ...
  [ 30  31  33]
  [ 18  16  19]
  [ 20  15  19]]

 ...

 [[ 35  32  25]
  [ 32  32  24]
  [ 28  22  22]
  ...
  [ 70  81  85]
  [ 76  88  86]
  [ 93  86  68]]

 [[ 52  51  33]
  [ 52  46  20]
  [ 50  43  25]
  ...
  [ 72  76  88]
  [ 94  99 105]
  [122 104  84]]

 [[ 58  60  39]
  [ 63  62  34]
  [ 65  67  46]
  ...
  [ 90 104 105]
  [103 119 119]
  [127 126 108]]]

In [8]:

china.shape

(427, 640, 3)

In [9]:
image = china[150:220, 130:250]

In [10]:
image.shape

(70, 120, 3)

In [11]:
height, width, channels = image.shape

In [15]:
image_grayscale = image.mean(axis=2).astype(np.float32)

In [16]:
image_grayscale.shape

(70, 120)

In [17]:
images=image_grayscale.reshape(1, height, width, 1)

In [19]:
images.size

8400

In [26]:
my_multi_arr = np.arange(20).reshape(4,5)

In [27]:
my_multi_arr_portion = my_multi_arr[2:4,2:5]

In [28]:
print(my_multi_arr_portion)

[[12 13 14]
 [17 18 19]]

In [37]:
import numpy as np
my_2d_arr = np.arange(20).reshape(4,5)

In [38]:
my_1d_arr=my_2d_arr.ravel()

In [39]:
print(my_1d_arr)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19]

In [46]:
import numpy as np

In [47]:
a_arr = np.array([60, 70, 80, 90])
b_arr = np.arange(4)

In [48]:
c_arr=a_arr  + b_arr

In [49]:
print(c_arr)

[60 71 82 93]

In [50]:
d_arr = np.array([60, 70, 80, 90])
e_arr = np.arange(4)

In [51]:
f_arr= d_arr  - e_arr

In [52]:
print(f_arr)

[60 69 78 87]

In [69]:
 import numpy as np

In [70]:
A_arr = np.array([ [ 5,9], [4, 7] ])
B_arr = np.array( [ [2, 8], [1, 6] ] )

In [71]:
M_arr = A_arr*B_arr

In [72]:
print(M_arr)

[[10 72]
 [ 4 42]]

In [73]:
C_arr = np.array([ [ 5,9], [4, 7] ])
D_arr = np.array( [ [2, 8], [1, 6] ] )

In [75]:
P_arr=np.dot(C_arr,D_arr)

In [76]:
print(P_arr)

[[19 94]
 [15 74]]

In [93]:
R_div = np.array([ [ 25,65], [40, 14] 
                 ])
S_div = np.array([ [2, 10], [4, 5] ] )

In [94]:
T_div = R_div / S_div

In [97]:
print(T_div)

[[12.5  6.5]
 [10.   2.8]]

In [98]:
R_int_div = np.array([ [ 25,65], [40, 70] ])
S_int_div = np.array([ [2, 10], [8, 3] ] )

In [100]:
T_int_div = R_int_div // S_int_div

In [101]:
print(T_int_div)

[[12  6]
 [ 5 23]]

In [102]:
R_mod = np.array([ [ 20,65], [40, 70] ])
S_mod = np.array([ [2, 10], [8, 3] ] )

In [103]:
T_mod= R_mod  % S_mod

In [104]:
print(T_mod)

[[0 5]
 [0 1]]

In [123]:
R_exp = np.array([ [ 4, 2], [3, 4 ] ] )
S_exp = np.array( [ [2, 10], [4, 5] ] )

In [124]:
T_exp = R_exp ** S_exp

In [125]:
print(T_exp)

[[  16 1024]
 [  81 1024]]

In [142]:
U = np.array([ [ 22, 45], [90, 4 ] ] )

In [144]:
print(U<45)

[[ True False]
 [False  True]]

In [174]:
X_stat=np.array([ [ 1, 2, 3], [ 4, -5, 6] ])

In [175]:
print("mean = ", X_stat.mean())

mean =  1.8333333333333333

In [177]:
print("Variance = ",X_stat.var())

Variance =  11.805555555555557

In [178]:
print("Standard Deviation = ", X_stat.std())

Standard Deviation =  3.435921354681384

In [179]:
print("min = ", X_stat.min())

min =  -5

In [180]:
print("max = ", X_stat.max())

max =  6

In [181]:
print("sum = ", X_stat.sum())

sum =  11

In [182]:
print("product = ", X_stat.prod())

product =  -720

In [194]:
Z= np.arange(18).reshape(2,3,3)

In [195]:
print(Z)

[[[ 0  1  2]
  [ 3  4  5]
  [ 6  7  8]]

 [[ 9 10 11]
  [12 13 14]
  [15 16 17]]]

In [196]:
print(Z.sum(axis=2))

[[ 3 12 21]
 [30 39 48]]

In [202]:
N= np.arange(6).reshape(3,2)

In [203]:
print(N
     )

[[0 1]
 [2 3]
 [4 5]]

In [204]:
print("Transpose = ", N.T)

Transpose =  [[0 2 4]
 [1 3 5]]

In [224]:
import numpy as np
X_broad = np.ones([3,3])
print(X_broad)

[[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]

In [225]:
Y_broad = np.arange(3)
print(Y_broad)

[0 1 2]

In [226]:
Z_broad=X_broad+Y_broad

In [227]:
print(Z_broad)

[[1. 2. 3.]
 [1. 2. 3.]
 [1. 2. 3.]]

In [9]:
def find_email_sent_days():
    fhand = open('/cxldata/datasets/project/mbox-short.txt')
    daydict={}
    for line in fhand:
        line =line.rstrip()
        if line.startswith('From'):
            sline= line.split()
            if len(sline)>2:
                day=sline[2]
                daydict[day]=daydict.get(day,0)+1
    return daydict

In [10]:
find_email_sent_days()

{'Sat': 1, 'Fri': 20, 'Thu': 6}

In [30]:
import re
def count_message_from_email():
    msg_count_per_mail = {}
    f = open('/cxldata/datasets/project/mbox-short.txt')
    for line in f:
        if re.findall('^From ',line):
            lst_of_line = line.split()
            msg_count_per_mail[lst_of_line[1]] = msg_count_per_mail.get(lst_of_line[1],0)+1
    return  msg_count_per_mail

In [31]:
count_message_from_email()

{'stephen.marquard@uct.ac.za': 2,
 'louis@media.berkeley.edu': 3,
 'zqian@umich.edu': 4,
 'rjlowe@iupui.edu': 2,
 'cwen@iupui.edu': 5,
 'gsilver@umich.edu': 3,
 'wagnermr@iupui.edu': 1,
 'antranig@caret.cam.ac.uk': 1,
 'gopal.ramasammycook@gmail.com': 1,
 'david.horwitz@uct.ac.za': 4,
 'ray@media.berkeley.edu': 1}

In [9]:
def count_message_from_domain():
    fhand=open('/cxldata/datasets/project/mbox-short.txt','r')
    dictc={}
    for line in fhand:
        line=line.strip()
        if line.startswith('From:'):
            domain=line.split('@')
            dictc[domain[1]]=dictc.get(domain[1],0)+1
    return dictc

In [10]:
count_message_from_domain()

{'uct.ac.za': 6,
 'media.berkeley.edu': 4,
 'umich.edu': 7,
 'iupui.edu': 8,
 'caret.cam.ac.uk': 1,
 'gmail.com': 1}

In [7]:
import re
def count_message_from_domain():
    msg_count_per_mail = {}
    f = open('/cxldata/datasets/project/mbox-short.txt')
    for line in f:
        if re.findall('^From ',line):
            lst_of_line = line.split('@')
            msg_count_per_mail[lst_of_line[1]] = msg_count_per_mail.get(lst_of_line[1],0)+1
    return  msg_count_per_mail

In [8]:
count_message_from_domain()

{'uct.ac.za Sat Jan  5 09:14:16 2008\n': 1,
 'media.berkeley.edu Fri Jan  4 18:10:48 2008\n': 1,
 'umich.edu Fri Jan  4 16:10:39 2008\n': 1,
 'iupui.edu Fri Jan  4 15:46:24 2008\n': 1,
 'umich.edu Fri Jan  4 15:03:18 2008\n': 1,
 'iupui.edu Fri Jan  4 14:50:18 2008\n': 1,
 'iupui.edu Fri Jan  4 11:37:30 2008\n': 1,
 'iupui.edu Fri Jan  4 11:35:08 2008\n': 1,
 'umich.edu Fri Jan  4 11:12:37 2008\n': 1,
 'umich.edu Fri Jan  4 11:11:52 2008\n': 1,
 'umich.edu Fri Jan  4 11:11:03 2008\n': 1,
 'umich.edu Fri Jan  4 11:10:22 2008\n': 1,
 'iupui.edu Fri Jan  4 10:38:42 2008\n': 1,
 'umich.edu Fri Jan  4 10:17:43 2008\n': 1,
 'caret.cam.ac.uk Fri Jan  4 10:04:14 2008\n': 1,
 'gmail.com Fri Jan  4 09:05:31 2008\n': 1,
 'uct.ac.za Fri Jan  4 07:02:32 2008\n': 1,
 'uct.ac.za Fri Jan  4 06:08:27 2008\n': 1,
 'uct.ac.za Fri Jan  4 04:49:08 2008\n': 1,
 'uct.ac.za Fri Jan  4 04:33:44 2008\n': 1,
 'uct.ac.za Fri Jan  4 04:07:34 2008\n': 1,
 'media.berkeley.edu Thu Jan  3 19:51:21 2008\n': 1,
 'media.berkeley.edu Thu Jan  3 17:18:23 2008\n': 1,
 'media.berkeley.edu Thu Jan  3 17:07:00 2008\n': 1,
 'iupui.edu Thu Jan  3 16:34:40 2008\n': 1,
 'iupui.edu Thu Jan  3 16:29:07 2008\n': 1,
 'iupui.edu Thu Jan  3 16:23:48 2008\n': 1}

In [ ]:
def special_func(num):
    if type(num) is int and num>0:
        total=0
        itr=1
        while(num/2>=itr):
            if (num%itr==0) and itr%2 !=0:
                total=total+itr
                itr=itr+1
        return total+num  
    else:
        return -10
special_func(12)